body {
    margin: 0;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

p, h1 {
    margin: 0;
}

.flex {
    display: flex;
}

.flex.center {
    justify-content: center;
}

.content {
    width: 800px;
    max-width: 90%;
}

.header {
    margin: 14px 0;
}

.add-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.add-item > input {
    box-sizing: border-box;
    width: 90%;
    height: 24px;
}

.add-item > button {
    width: 9%;
}

.message {
    font-weight: 500;
    text-align: center;
}

.item-container {
    justify-content: space-between;
    padding: 3px;
    border: 1px solid lightgray;
    border-bottom: none;
}

.item-container:first-child {
    border-radius: 6px 6px 0 0;
}

.item-container:last-child {
    border-radius: 0 0 6px 6px;
    border-bottom: 1px solid lightgray;
}

.item-container:hover {
    background-color: #f0f0f0;
}

.to-do-item {
    margin-right: 10px;
}

.modify-input {
    width: max-content;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-btn {
    box-sizing: border-box;
    height: 24px;
    padding: 0 6px;
    min-width: fit-content;
}

.action-btn:first-child {
    width: 47px;
}

.action-btn:last-child {
    width: 58px;
    margin-left: 4px;
}