:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
}

p, h1 {
    margin: 0;
}

.flex {
    display: flex;
}

.add-item {
    width: 100%;
    margin-bottom: 10px;
}

.add-item > input {
    box-sizing: border-box;
    width: 90%;
    height: 24px;
}

.item-container {
    justify-content: space-between;
    padding: 2px;
}

.to-do-item {
    margin-right: 10px;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-btn {
    box-sizing: border-box;
    height: 24px;
    padding: 0 6px;
}

.action-btn:last-child {
    margin-left: 4px;
}